<div ng-hide="formVisible"><button class="btn btn-default" ng-click="formVisible=!formVisible">Luo uusi</button></div>

<form class="lomake uusiviesti" role="form" ng-show="formVisible" ng-submit="createKetju(ketju)">
    <br/>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="msg.user" placeholder="nimi"></input>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="ketju.subject" placeholder="aihe"></input>
    </div>
    <div class="form-group">
        <input class="form-control" type="file" ng-model="msg.img" placeholder="kuva" accept="image/x-png, image/gif, image/jpeg, image/jpg"></input>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="msg.body" placeholder="viesti"></textarea>
    </div>
    <button class="btn btn-primary">Lähetä</button>
    <button class="btn btn-default" ng-click="formVisible=!formVisible">Peruuta</button>
</form>


<!-- for each viesti -->
<div ng-repeat="ketju in ketjus | orderBy:'updated_at':true" class="ketjurivi">

    <div class="row">
        <h3 class="aihe">{{ketju.subject}}</h3>
        <div class="col-md-12 viestirivi" ng-repeat="msg in ketju.messages">
            <div class="col-md-3">
                <img ng-src="{{msg.img}}" style="width:100%" />
            </div>
            <div class="col-md-9">
                <p class="pvm">{{msg.created_at | date:'dd.MM.yyyy HH:mm'}}</p>
                <h4 class="user">{{msg.user}}</h4>
                <p>{{msg.body}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr/>
            <div ng-hide="replyformVisible">
                <button class="btn btn-default" ng-click="replyformVisible=!replyformVisible" style="margin-bottom:20px;">Vastaa</button>
            </div>
            <form class="lomake" role="form" ng-show="replyformVisible" ng-submit="createMsg(ketju.id)">
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="msg.user" placeholder="nimi"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="file" ng-model="msg.img" placeholder="kuva" accept="image/x-png, image/gif, image/jpeg, image/jpg"></input>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="msg.body" placeholder="viesti"></textarea>
                </div>

                <button class="btn btn-primary">Lähetä</button>
                <button class="btn btn-default" ng-click="replyformVisible=!replyformVisible">Peruuta</button>
            </form>
        </div>
    </div>

</div>
