<div ng-hide="formVisible" style="margin-bottom:20px;"><button class="btn btn-default" ng-click="formVisible=!formVisible">Luo uusi</button></div>

<form class="lomake" role="form" ng-show="formVisible" ng-submit="createKetju(ketju)">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="msg.user" placeholder="nimi"></input>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="ketju.subject" placeholder="aihe"></input>
    </div>
    <div class="form-group">
        <input class="form-control" type="file" ng-model="msg.img" placeholder="kuva" accept="image/x-png, image/gif, image/jpeg, image/jpg"></input>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="msg.body" placeholder="viesti"></textarea>
    </div>
    <button class="btn btn-primary">Lähetä</button>
</form>
        {{ketju}}
        {{msg}}
    <button class="btn btn-default" ng-click="formVisible=!formVisible">Peruuta</button>

<!-- for each viesti -->
<div ng-repeat="ketju in ketjus" class="ketjurivi">

    <div class="row">
        <h3>{{ketju.subject}}</h3>
        <div class="col-md-12 viestirivi" ng-repeat="msg in ketju.messages">
            <div class="col-md-3">
                <img ng-src="{{msg.img}}" style="width:100%" />
            </div>
            <div class="col-md-9">
                <p class="pvm">{{msg.date | date:'dd.MM.yyyy HH:mm'}}</p>
                <h4 class="user">{{msg.user}}</h4>
                <p>{{msg.body}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr/>
            <h4>Vastaa tähän ketjuun:</h4>
            <form class="lomake" role="form" ng-show="replyformVisible">
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="msg.user" placeholder="nimi"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="file" ng-model="msg.img" placeholder="kuva" accept="image/x-png, image/gif, image/jpeg, image/jpg"></input>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="msg.body" placeholder="viesti"></textarea>
                </div>
                <button class="btn btn-primary" ng-click="createMsg()">Lähetä</button>
            </form>
        </div>
    </div>

</div>
